
:root {
	--bg-color: #000000;
	--typewriterSpeed: 1s;
	--typewriterCharacters: 24;
}

html {
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Source Code Pro", monospace;
}

body {
	background: linear-gradient(to right, #000428, #004e92);
	margin: 0;
}
a {
	text-decoration: none;
}
#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
}

.header {
	z-index: 2;
	padding: 2rem 2rem;
	left: 0;
	top: 0;
	right: 0;
	position: fixed;
}

.hero {
	display: flex;
	background: #000000;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: calc(120vh - 80px);
}

.hero h1 {
	text-align: center;
	font-family: 'Copperplate',
		sans-serif;
	font-size: 30px;
	color: #FFFFFF;
	margin: 10px;

}
.hero p {
	text-align: center;
	font-size: 15px;
	text-transform: uppercase;
	color: #113CFC;
	
}
.hero h2 {
	text-align: center;
	font-size: 15px;
	text-transform: uppercase;
	color: #113CFC;

}
.hero h2 .profesiones{
	font-weight: bold;
	color:#E8B600;
	font-style: normal;

}
.navigation li {
	z-index: 2;
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	font-size: 15px;
	cursor: pointer;
}

.navigation li a {
	display: inline-block;
	padding: 0.5rem 1rem;
	font-weight: 200;
	color: #E8B600;
	transition: all 0.4s linear;
	border-radius:10px;
}
.navigation li .active {
	border-bottom: 5px solid #113CFC;
	width: 100%;
	font-weight: 300;
	color: #E8B600;
	border-radius: 10px;
	transition: 0.5s ease;
}
.navigation li :hover {
	background: #FFFFFF;
}

#menu-icono {
	display: none;	
}

.carreaux_presentation_light {
	display: table-cell;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	background-size: cover;
	overflow: hidden;
	position: relative;
    animation: movimiento 2.5s linear infinite;
	margin: 10px;
}

.carreaux_presentation_light .shadow_swhow_mini {
	background-color: rgba(19, 30, 33, 0.4);
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

}
.carreaux_presentation_light:hover .shadow_swhow_mini {
	background-color: rgba(16, 23, 41, 0);
}

.carreaux_presentation_light .deroul_titre {
	position: absolute;
	text-transform: uppercase;
	padding: 7px;
	z-index: 1000;
	top: 74%;
	left: -70%;
	color: #ffffff;
	font-weight: 200;
	font-size: 12px;
	width: 50%;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-ms-transition: all 0.7s;
	transition: all 0.7s;

}

.carreaux_presentation_light:hover .deroul_titre {
	background-color: rgba(253, 127, 9, 0.876);
	left: 23px;

}
.carreaux_presentation_light .deroul_soustitre {
	position: absolute;
	padding: 5px;
	z-index: 1000;
	top: 75%;
	right: -75%;
	margin-top: 25px;
	color: #ffffff;
	font-weight: 200;
	font-size: 10px;
	width: 70%;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-ms-transition: all 0.7s;
	transition: all 0.7s;
}

.carreaux_presentation_light:hover .deroul_soustitre {
	background-color: rgba(253, 127, 9, 0.876);
	right: 0px;
}
.logo-nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.logo {
	letter-spacing: 10px;
	font-size: 1.3em;
	color: #E8B600;
}

.fa-bars{
	color:#113CFC;
}
h1 {
	font-size: clamp(1rem, 3vw + 1rem, 4rem);
	position: relative;
	font-family: "Source Code Pro", monospace;
	position: relative;
	width: max-content;
}

h1::before,
h1::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

h1::before {
	background: var(--bg-color);
	animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

h1::after {
	width: 0.125em;
	background: black;
	animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
		blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.subtitle {
	color: hsl(0 0% 0% / 0.7);
	font-size: 2rem;
	font-weight: 400;
	opacity: 0;
	transform: translateY(3rem);
	animation: fadeInUp 1s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes typewriter {
	to {
		left: 100%;
	}
}

@keyframes blink {
	to {
		background: transparent;
	}
}

@keyframes fadeInUp {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}




/*CARD1 DE HABILIDADES*/
.container__card1 {
	z-index: 0;
	max-width: 1200px;
	margin: auto;
	margin-top: 300px;
	perspective: 1000px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card__father {
	margin: 20px;
	perspective: 1000px;
}

.card__father:hover .card1 {
	transform: rotateY(180deg);
}


.card1 {
	width: 300px;
	height: 350px;
	position: relative;
	transform-style: preserve-3d;
	transition: all 600ms;
}

.card__front {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


.card__front,
.card__back {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	border-radius: 20px;
	
}

.card__back {
	transform: rotateY(180deg);
	background: white;
}

.body__card_front {
	width: 100%;
	height: 100%;
	font-size: 10px;
	text-align: center;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items:flex-start;
	color: black;
	transform: translateZ(60px);
}
.body__card_front h1{
	font-size: 15px;

}


.bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}

.body__card_back {
	padding: 40px;
	text-align: center;
	transform: translateZ(60px);
}

.body__card_back p {
	margin-top: 30px;
	font-size: 12px;
}

.body__card_back input {
	padding: 10px 40px;
	margin-top: 30px;
	font-size: 12px;
	cursor: pointer;
	border: none;
	color: white;
	background: #58B0F6;
	box-shadow: 1px 1px 30px -5px #58B0F6;
	border-radius: 10px;
	transition: box-shadow 600ms;
}

.body__card_back input:hover {
	box-shadow: 1px 1px 30px 0px #449de6;
}

/*TERMINA CARD DE HABILIDADES*/

/*CARRUSEL PARA LOS LENGUAJES*/
.aaa {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 300px;
}
.slider {
	position: relative;
	height: 200px;
	width: 200px;	
	transform-style: preserve-3d;
	animation: rotar 30s linear infinite;
	scroll-snap-align: center;

}
@keyframes rotar {
	0% {
		transform: perspective(1000px) rotateY(0deg);
	}

	100% {
		transform: perspective(1000px) rotateY(360deg);
	}
}
.slider:hover{
	animation-play-state: paused;
}

.slider figure {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
    width: 100%;
	box-shadow: 0px 0px 20px 0px black;
	transform-origin: center;
	transform-style: preserve-3d;
	transition: 3s;
	transform: rotateY(calc(var(--i)*30deg)) translateZ(430px);
	-webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
	border-radius: 10px;
}

.slider figure img {
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 40px;
	border-radius: 10px;
	object-fit: cover;
	
	transition: 2s;
}

.slider figure:hover img{
	transform: translateY(-50px) scale(1.2);
	transition: all 300ms;
	
}

/*TERMINA CARRUSEL*/

/*INICIO DE LAS CARD*/

.container__card {
	max-width: 1200px;
	margin: auto;
	margin-top: 300px;
	margin-bottom: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.container__card #habilidades {
	text-align: center;
	font-size: 10px;
	color: #113CFC;
}

.card {
	width: 300px;
	position: relative;
	margin: 20px;
	font-family: 'Poppins', sans-serif;
	transition: all 300ms;
	border-radius: 20px;
}

.card:hover {
	box-shadow: 1px 1px 20px -10px #20202049;
}

.card:hover .info__description {
	margin-top: 0;
	border-radius: 0px 0px 20px 20px;

}

.card:hover .icon {
	margin-top: -110px;
	border-radius: 20px 20px 0px 0px;
}

.icon {
	width: 100%;
	height: 220px;
	background: #EFF3F5;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
	transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
	border-radius: 20px;
}

.icon i {
	font-size: 150px;
	color: #fff;
	transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
}

.info__description {
	width: 100%;
	height: 220px;
	color: #474747;
	background: #EFF3F5;
	padding: 20px;
	margin-top: -220px;
	transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
	border-radius: 20px;
}

.info__description p {
	font-size: 14px;
	margin-top: 10px;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
	-webkit-line-clamp: 5;
	line-clamp: 5;
	overflow: hidden;
}

.info__description input {
	margin-top: 20px;
	padding: 10px 40px;
	background: #2196f3;
	color: black;
	font-weight: 500;
	font-size: 14px;
	cursor: pointer;
	border: none;
	border-radius: 20px;
	box-shadow: 1px 1px 30px -5px #20202049;
	transition: box-shadow 300ms;
}

.info__description input:hover {
	box-shadow: 1px 1px 30px -5px #20202070;
}


/*COLOR DE LAS CARD*/

.c1:hover .icon {
	background: #DD4B25;
}

.c1 .icon i {
	color: #DD4B25;
}

.c1:hover .icon i {
	color: #fff;
}


.c2:hover .icon {
	background: #146EB0;
}

.c2 .icon i {
	color: #146EB0;
}

.c2:hover .icon i {
	color: #fff;
}


.c3:hover .icon {
	background: #E8B600;
}

.c3 .icon i {
	color: #E8B600;
}

.c3:hover .icon i {
	color: #fff;
}

/*FIN DE LAS CARD*/


/*INICIO DE DISEÑO DE CONTACTOS*/
.contenido  {
		max-width: 1200px;
			padding: 30px;
			margin: auto;
			margin-top: 300px;
			margin-bottom: 50px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
				-webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

ul {
	list-style: none;
	padding: 0;
}

.contact-wrapper {
	box-shadow: 0 0 20px 0 rgba(255, 255, 255, .1);
}

.contact-wrapper>* {
	padding: 1em;
}


.contact-form form {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.contact-form form label {
	display: block;
}

.contact-form form p {
	margin: 0;
	padding: 1em;
}

.contact-form form .block {
	grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
	width: 100%;
	padding: .7em;
	border: none;
	background: none;
	outline: 0;
	color: #fff;
	border-bottom: 1px solid #E8B600;
}

.contact-form form button {
	background:#E8B600;
	border: 0;
	text-transform: uppercase;
	padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
	background:#E8B600;
	color: #fff;
	transition: background-color 1s ease-out;
	outline: 0;
}

/* CONTACT INFO */
.contact-info {
		-webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.contact-info h4,
.contact-info ul,
.contact-info p {
	text-align: center;
	margin: 0 0 1rem 0;
	color: #f2f2f2;
}

/* LARGE SIZE */
@media(min-width: 700px) {


	.contact-wrapper {
		display: grid;
		grid-template-columns: 2fr 1fr;
	}

	.contact-wrapper>* {
		padding: 2em;
	}

	.contact-info h4,
	.contact-info ul,
	.contact-info p {
		text-align: left;
	}
}

/*INICIO DEL DISEÑO DEL FOOTER*/
footer{
	width:100%;
	position: relative;
	bottom: 0;
	left: 0;
	margin-top: 300px;
	padding: 2rem 8%;
	background-color: #0e0e0e;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.logofut{
	height: 80px;
	margin-bottom: 1rem;
}
.social-icons-container, .footer-menu-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}
.social-icon{
	height: 50px;
	width: 50px;
	border-radius: 50px;
	border: 1px solid #f2f2f2;
	background-image: url(img/face.png);
	background-position: center;
	background-size: 40%;
	background-repeat: no-repeat;
	margin: 1rem;
}
.social-icon:hover{
	background-color: #f2f2f2;
	filter: invert(1);
}
.social-icon:nth-of-type(2){
	background-image: url(img/linke.png)
}
.social-icon:nth-of-type(3) {
	background-image: url(img/github.png)
}
.social-icon:nth-of-type(4) {
   background-image: url(img/whatsapp.png)
}
.footer-menu-container {
	list-style-type: none;
	color:#f2f2f2;
	font-size: 18px;
}
.menu-item{
	margin: 1rem 1.5rem;
	cursor: pointer;
	opacity: 0.6;
}
.menu-item:hover{
	opacity:1;
}
.copyright{
	color:#f2f2f2;
	opacity: 0.3;
	text-align: center;
}

/*TERMINA EL FOOTER*/



@media screen and (min-width: 550px) {
	.page-footer {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.page-footer ul {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 830px) {
	.navigation {
			width: 100%;
			margin-top: 1rem;
		}
	
		.navigation li {
			display: none;
		}
						
		.navigation li.show {
			display: block;
		}

		.navigation li a {
			display: block;
			padding: 0.5rem 1rem;
			transition: all 0.4s linear;
			border-radius: 10px;
		}
	
		.navigation li a:hover {
			background: rgb(234, 188, 5);
	
		}
	.hero h1 {
			text-align: center;
			font-family: 'Copperplate',
				sans-serif;
			font-size: 40px;
			color: #FFFFFF;
	
		}	
		.hero p {
			text-align: center;
			font-size: 15px;
			text-transform: uppercase;
			color: #113CFC;
		}
	.carreaux_presentation_light {
			width: 200px;
			height: 200px;
			border-radius: 100px;
		}	
		.carreaux_presentation_light .deroul_titre {
			padding: 8px;
			top: 65%;
			left: -65%;
			font-size: 8px;
			width: 50%;
		}
	
		.carreaux_presentation_light:hover .deroul_titre {
			left: 4px;
		}
	
		.carreaux_presentation_light .deroul_soustitre {
			padding: 5px;
			top: 65%;
			right: -60%;
			margin-top: 25px;
			font-size: 8px;
			width: 70%;
		}	
	#menu-icono {
			display: block;
			cursor: pointer;
		}	
}

@media screen and (max-width: 800px) {
	.nav a {
		font-size: 14px;
		padding: 5px;
	}
}

@media screen and (max-width: 450px) {
	.nav a {
		font-size: 12px;
	}
}
@keyframes movimiento {
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(20px)
	}
	100%{
		transform: translateY(0)
	}
}

